MONGODB_URI=
MONGODB_DB=survey
IMGBB_API_KEY=

SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_BASE_URL=https://sso.doneisbetter.com
SSO_REDIRECT_URI=https://survey.messmass.com/api/oauth/callback
AUTH_SECRET=
SURVEY_ENFORCE_AUTH=true
