MONGODB_URI=
MONGODB_DB=kidex
IMGBB_API_KEY=

SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_BASE_URL=https://sso.doneisbetter.com
SSO_REDIRECT_URI=https://kidex.messmass.com/api/oauth/callback
AUTH_SECRET=
KIDEX_ENFORCE_AUTH=true
